$colorYellow: #fafa1c;
$colorBlack: #000000;
$colorRed: #f10000;
$colorWhite: #fff;
$colorWhite100: #bfc0bf;
$colorWhite150: #d0cfcb;
$colorGrey100: #dfdfdf;
$colorGrey150: #d8d0c7;
$colorGrey200: #d1ceca;
$colorBronw100: #856d56;
